
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body {  
  margin: 0px;
  padding: 0px;
}

#app {
  font-family: "Source Code Pro";
  min-height: 100vh;
  display: flex;
  align-items: center;  
}

.todo {
  display: flex;
  flex-flow: column;
  margin: 0px auto;
}

.todo button {
  cursor: pointer;  
  display: flex;
  align-items: center;  
  border: 2px solid black;
  background-color: transparent;
}

.todo input {
  font-family: "Source Code Pro";
}

.todo__date {
  margin-bottom: 5px;
  font-size: 15px;
}

.todo__ctrls {
  display: flex;
  align-items: stretch;
}

.todo__ctrls input {  
  padding: 10px;
  border: 2px solid black;
  border-right: none;  
}

.todo__ctrls input:focus {  
  outline: none; 
}

.todo__ctrls input[type='text'] {  
  flex: 1 0;
  max-width: 150px;
}

.todo__ctrls input[type='date'] {
  width: 120px;
}

.todo__ctrls button {
  margin-left: 0px;
  border-radius: 0px;
}

.todo__list {
  border: 2px solid black;
  border-top: none;
  height: 400px;
  overflow: hidden;
  padding: 10px 25px 10px 7px;
}

.todo__list ul {  
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px 10px;
  list-style: none;
  overflow-y: scroll;
}

.todo__completion {
  margin-top: 5px;
  font-size: 15px;
}

.task {
  display: flex;
  margin-bottom: 5px;  
  align-items: center;
  transition: all 0.2s;
}

.task__title {
  margin-left: 7px;
  padding: 4px;
  flex: 1 0;
  max-width: 300px;
}

.task__status { 
  border: none !important;
  padding: 0px;
}

.task__ctrls {
  margin-left: auto;
  display: flex;
}

.task__ctrls button {
  margin: 0px 2px;
  padding: 2px;  
  border-radius: 50px;
}

.task__ctrls button i {  
  font-size: 15px;
}

.crossout {
  text-decoration: line-through;
}

